*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
}

:root {
  --main-color: #247cff;
  --second-color: #2b5464;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 36px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}
::-webkit-scrollbar-track {
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::selection {
  background-color: var(--second-color);
  color: white;
}

/*  */

.task-title {
  width: 90%;
  display: block;
  margin: 20px auto;
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 7px solid #2b5464;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-top: 7px solid #247cff;
  text-align: center;
  align-items: center;
  font-family: "Tajawal", sans-serif;
}
.task-title:nth-last-child(even) {
  border-bottom: 7px solid #247cff;
  border-top: 7px solid #2b5464;
}
.task-title:hover {
  background-color: #ddd;
  border-top: 7px solid #2b5464;
  border-bottom: 7px solid #247cff;
}
.task-title:nth-last-child(even):hover {
  border-bottom-color: #2b5464;
  border-top-color: #247cff;
}
/*  */

.class-hover-title {
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  border: 2px solid;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}

.class-hover-title::before {
  left: 0;
  bottom: 0;
}

.class-hover-title::after {
  right: 0;
  top: 0;
}

.class-hover-title::after,
.class-hover-title::before {
  content: "";
  width: 3px;
  background: var(--second-color);
  height: 0%;
  position: absolute;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.class-hover-title:hover:after,
.class-hover-title:hover:before {
  height: 100%;
}

/*  */

.items {
  background: #ddd;
  padding: 20px;
}

.item {
  position: relative;
  width: 90%;
  background-color: #18bc9c96;
  margin: 20px auto;
  min-height: fit-content;
  direction: rtl;
  padding: 20px;
  line-height: 1.5;
  font-family: "Tajawal", sans-serif;
  border-radius: 0.5em;
}

.item:hover {
  background-color: #18bc9c;
}

.item:nth-child(odd) {
  background-color: #247cffa6;
}

.item:nth-child(odd):hover {
  background-color: var(--main-color);
}

.fa-times-circle {
  width: fit-content;
  position: absolute;
  cursor: pointer;
  left: 30px;
  top: 10px;
  font-size: 20px;
  display: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-times-circle:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  color: red;
}

.item h2 {
  line-height: 2;
  margin-top: 10px;
}

.item h2:hover {
  text-shadow: 1px 0px #000;
}

.count-total {
  margin: 10px auto;
  display: block;
  padding: 2px;
  width: fit-content;
  background: gold;
  border: 1px solid #ffffff9e;
  border-radius: 10px;
}

.item .count-button {
  margin: 20px auto;
  padding: 10px;
  width: fit-content;
  display: block;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.item .count-button:hover {
  border-color: #fff;
}

.item .count-is {
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

input[type="checkbox"] {
  display: none;
}
.hidden {
  transition: 0.9s;
  animation: hide 0.9s 1;
  -webkit-animation: hide 0.9s 1;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.hide {
  display: none;
}
@keyframes hide {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  /* 60%,
  70%,
  80%,
  90%, */
  100% {
    transform: scale(0);
    /* display: none; */
    /* opacity: 0;
    visibility: hidden; */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  /* 100% {
    opacity: 0;
    visibility: hidden;
  } */
}
.show {
  display: block;
}
.Hide {
  display: none;
}
.text-p {
  direction: rtl;
  padding: 20px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Tajawal";
}
.hideAllOrShowAll .showOrHide {
  cursor: pointer;
  text-align: center;
  margin: auto;
  display: block;
  width: 15%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  background: red;

  opacity: 0.7;
  border: 0;
  border-radius: 1rem;
  color: #fff;
}
.hideAllOrShowAll .showOrHide:hover {
  opacity: 1;
}
/*  */
.surah,
.time-of-pray .card {
  cursor: pointer;
  width: 12%;
  border: 1px solid;
  text-align: center;
  padding: 1%;
  line-height: 2;
  margin: 10px 5px;
  transition: all 0.1s ease-out;
}
.time-of-pray .card {
  width: 25%;
}
@media (max-width: 900px) {
  .surah {
    width: 25%;
  }
}
.surah:hover,
.time-of-pray .card:hover {
  background: var(--main-color);
  color: #fff;
}
.time-of-pray .card:hover {
  background: var(--second-color);
}
.container.getSurah,
.container.time-of-pray {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  direction: rtl;
}
.surah p {
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
/*  */
.popUp {
  width: 100%;
  position: fixed;
  background: #fff;
  height: 100vh;
  top: 0;
  z-index: 1000;
  left: 0;
  overflow: scroll;
  /*  */
  transform: scale(0);
  /*  */
}

.popUp::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.popUp::-webkit-scrollbar-thumb {
  background: #247cff;
  border-radius: 36px;
  border: 1px solid;
}
.popUp::-webkit-scrollbar-thumb:hover {
  background-color: #2b5464;
}
.popUp::-webkit-scrollbar-track {
  background: #1c1010;
}
.popUp .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 8% auto;
}
.popUp .container .ayah {
  border: 1px solid;
  width: 100%;
  margin: 10px 0;
  padding: 1%;
}
.popUp .container .ayah h2 {
  line-height: 2;
}
.popUp .close-ayah {
  position: fixed;
  top: 5%;
  right: 4%;
}
.popUp .close-ayah svg {
  width: 2rem;
  height: 3rem;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.popUp .close-ayah svg:hover {
  fill: red;
}
/* ================================== */
